{extend name="common/base" /}
{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <header class="card-title">
                    域名绑定
                </header>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <textarea id="domain" name="domain" rows="5" class="form-control"
                            placeholder="每行填写一个域名&#10;泛解析添加方法：*.domain.com&#10;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="dirs">绑定目录：</label>
                        <select name="dirs" id="dirs" class="form-control">
                            <option value="/">/</option>
                            {if $sub_bind}
                            {volist name="$dirList.dirs" id="dirs"}
                            <option value="{$dirs}">{$dirs}</option>
                            {/volist}
                            {/if}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="button" value="增加" class="btn btn-warning" onclick="incDomain()">
                    </div>
                    <small class="text-muted">
                        <span style="color:red">！</span> 解析地址：{if
                        $Think.config.site.default_analysis==0}{$hostInfo.bt_name}{else/}{$Think.config.site.dnspod_analysis_url}{/if}
                        <br>
                        <span class="text-danger">！</span> 剩余可绑定域名：{$hostInfo.domain_max==0?'无限制':$sys}
                        <hr>
                        {$Think.config.site.analysis_desc}
                    </small>
                </form>
            </div> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <header class="card-title">
                    域名列表
                </header>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>域名</td>
                                <td>状态</td>
                                <td>目录</td>
                                <td>操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="domainList" id="domain"}
                            <tr id="domain_{$domain.name}">
                                <td><a href="http://{$domain.name}" target="_blank">{$domain.name}</a></td>
                                <td>正常</td>
                                <td>/</td>
                                <td><a href="javascript:delDomain('{$domain.name}','domain')">删除</a></td>
                            </tr>
                            {/volist}
                            {volist name="dirList.binding" id="domain"}
                            <tr id="domain_{$domain.id}">
                                <td><a href="http://{$domain.domain}" target="_blank">{$domain.domain}</a></td>
                                <td>正常</td>
                                <td>{$domain.path}</td>
                                <td><a href="javascript:delDomain('{$domain.domain}','dir','{$domain.id}')">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            {volist name="auditList" id="audit"}
                            <tr id="domain_{$audit.domain}">
                                <td><a href="http://{$audit.domain}" target="_blank">{$audit.domain}</a></td>
                                <td>待审核</td>
                                <td>{$audit.dir}</td>
                                <td><a href="javascript:delDomain('{$audit.domain}','domain')">删除</a></td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    function incDomain() {
        domain = $('#domain').val();
        dirs = $('#dirs option:selected').val();
        if (!domain || !dirs) {
            EchoMsg('域名不能为空');
            return false;
        }
        $.post('{:url("index/vhost/incDomain")}', {
                domain: domain,
                dirs: dirs
            }, function (res) {
                if (res.code == 1) {
                    EchoMsg(res.msg, 1, '{:url("index/vhost/domain")}');
                } else {
                    EchoMsg('error:' + res.msg);
                }
            })
            .fail(function () {
                EchoMsg('请求错误，请稍候重试');
            })
    }

    function delDomain(domain, type, id = '') {
        if (!domain || !type) {
            EchoMsg('意外的情况');
            return false;
        }
        $.confirm({
            title: '温馨提醒',
            content: '确定删除？',
            icon: 'mdi mdi-alert',
            animation: 'scale',
            closeAnimation: 'zoom',
            buttons: {
                confirm: {
                    text: '确定',
                    btnClass: 'btn-orange',
                    action: function () {
                        $.post('{:url("index/vhost/delDomain")}', {
                                delete: domain,
                                type: type,
                                id: id
                            }, function (res) {
                                if (res.code == 1) {
                                    EchoMsg(res.msg, 1, '{:url("index/vhost/domain")}');
                                } else {
                                    EchoMsg('error:' + res.msg);
                                }
                            })
                            .fail(function () {
                                EchoMsg('请求错误，请稍候重试');
                            })
                    }
                },
                '取消': function () {}
            }
        });
    }
</script>
{/block}