{extend name="common/base" /}
{block name="title"}网站防盗链管理{/block}
{block name="content"}
<div class="row">
	<div class="col-md-12">
		<div class="card" id="loading_off">
			<div class="card-header">
				<header class="card-title">
					防盗链
				</header>
			</div>
			<div class="card-body">

				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="2">状态：{$GetSecurity['status'] ? '<span style="color:green">已开启</span><a
									href="javascript:ProtectionOff()">[关闭]</a>' : '<span
									style="color:#2288cc">未开启</span>'}</th>
						</tr>
					</thead>
				</table>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card" id="loading_box">
			<div class="card-header">
				<header class="card-title">
					设置盗链
				</header>
			</div>
			<div class="card-body">
				<form action="" method="post">
					<div class="form-group">
						<label for="exampleFormControlInput1">URL后缀：</label>
						<input name="sec_fix" class="form-control" id="sec_fix" class="span3"
							value="{$GetSecurity['fix']}" {$GetSecurity['status'] ? 'disabled="disabled"' : '' }>
						<small class="text-muted">使用英文逗号,分隔</small>
					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">许可域名：</label>
						<input name="sec_domains" class="form-control" id="sec_domains" class="span3"
							placeholder="多个域名用,分隔" value="{$GetSecurity['domains']}" {$GetSecurity['status']
							? 'disabled="disabled"' : '' }>
						<small class="text-muted">多个域名用,分隔</small>
					</div>
					<p>
						<input type="button" value="开启并提交" class="btn btn-warning" onclick="ProtectionSet()"
							{$GetSecurity['status'] ? 'disabled="disabled"' : '' }>
					</p>
				</form>
				<hr>
				<small class="text-muted">
					<span style="color:red">！</span> 默认允许资源被直接访问,即不限制HTTP_REFERER为空的请求<br>
					<span style="color:red">！</span> 多个URL后缀与域名请使用逗号(,)隔开,如: png,jpeg,zip,js<br>
					<span style="color:red">！</span> 当触发防盗链时,将直接返回404状态<br>
				</small>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	function ProtectionSet() {
		sec_fix = $('#sec_fix').val();
		sec_domains = $('#sec_domains').val();
		if (!sec_fix || !sec_domains) {
			EchoMsg('都不能为空');
			return false;
		}
		var l = $('#loading_box').lyearloading({
			opacity: 0.125,
			spinnerSize: 'lg'
		});
		$.post('{:url("index/vhost/ProtectionSet")}', {
				sec_fix: sec_fix,
				sec_domains: sec_domains
			}, function (res) {
				EchoMsg(res.msg, 1);
			})
			.fail(function () {
				EchoMsg('请求错误，请稍候重试');
			})
			.always(function () {
				l.destroy();
			})
	}

	function ProtectionOff() {
		var l = $('#loading_off').lyearloading({
			opacity: 0.125,
			spinnerSize: 'lg'
		});
		$.post('{:url("index/vhost/ProtectionOff")}', {
				protection: 'off'
			}, function (res) {
				EchoMsg(res.msg, 1);
			})
			.fail(function () {
				EchoMsg('请求错误，请稍候重试');
			})
			.always(function () {
				l.destroy();
			})
	}
</script>
{/block}