{extend name="common/base" /}
{block name="title"}网站301重定向{/block}
{block name="content"}
<div class="row">
	<div class="col-md-12">
		<div class="card" id="loading_off">
			<div class="card-header">
				<header class="card-title">
					域名跳转
				</header>
			</div>
			<div class="card-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="2">状态：{$rewriteInfo.status ? '<span style="color:green">已开启</span><a
									href="javascript:rewriteOff()">[关闭]</a>' : '<span style="color:#2288cc">未开启</span>'}
							</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card" id="loading_box">
			<div class="card-header">
				<header class="card-title">
					301重定向设置
				</header>
			</div>
			<div class="card-body">
				<form action="" method="post">
					<div class="form-group">
						<label for="domains">访问域名：</label>
						<select class="bt-input-text mr5 domains form-control" name="domains" id="domains"
							style="width:260px" {$rewriteInfo.status ? 'disabled' :''}>
							<option value="all">整站</option>
							{volist name="rewriteInfo.domain" id="domain"}
							<option value="{$domain}" {$domain==$rewriteInfo.src ? 'selected=""' : '' }>
								{$domain}</option>
							{/volist}
						</select>
					</div>
					<div class="form-group">
						<label for="toUrl">目标URL：</label>
						<input name="toUrl" id="toUrl" class="span3 form-control" value="{$rewriteInfo.url}"
							style="width:260px;" {$rewriteInfo.status ? 'disabled' :''}>
					</div>
					<div class="form-group">
						<input type="button" value="保存并开启" class="btn btn-warning" {$rewriteInfo.status ? 'disabled'
							:''} onclick="rewriteUp()">
					</div>
				</form>
				<hr>
				<small class="text-muted">
					<li>选择[整站]时请不要将目标URL设为同一站点下的域名.</li>
					<li>取消301重定向后，需清空浏览器缓存才能看到生效结果.</li>
				</small>
			</div>
		</div>
	</div>
</div>

{/block}
{block name="script"}
<script type="text/javascript">
	function rewriteUp() {
		domains = $('#domains option:selected').val();
		toUrl = $('#toUrl').val();
		if (!domains) {
			EchoMsg('意外的错误');
			return false;
		}
		var l = $('#loading_box').lyearloading({
			opacity: 0.125,
			spinnerSize: 'lg'
		});
		$.post('{:url("index/vhost/r301Up")}', {
				domains: domains,
				toUrl: toUrl
			}, function (res) {
				EchoMsg(res.msg, 1);
			})
			.fail(function () {
				EchoMsg('请求错误，请稍候重试');
			})
			.always(function () {
				l.destroy();
			})
	}

	function rewriteOff() {
		var l = $('#loading_off').lyearloading({
			opacity: 0.125,
			spinnerSize: 'lg'
		});
		$.post('{:url("index/vhost/r301Off")}', {
				rewrite: 'off'
			}, function (res) {
				EchoMsg(res.msg, 1);
			})
			.fail(function () {
				EchoMsg('请求错误，请稍候重试');
			})
			.always(function () {
				l.destroy();
			})
	}
</script>
{/block}