{extend name="common/base" /}
{block name="title"}网站备份{/block}
{block name="content"}
<div class="row">
	<div class="col-md-12">
		<div class="card" id="loading_box">
			<div class="card-header">
				<header class="card-title">
					网站备份
				</header>
			</div>
			<div class="card-body">
				<a href="javascript:webBackInc()" class="btn btn-warning btn-w-md">手动备份</a>
				<p>
					<small id="passwordHelpInline" class="text-muted">
						剩余手动备份次数：{$hostInfo.web_back_num-$countback}次{if ($hostInfo.web_back_num - $countback) < 1}，请先删除原有备份再进行备份{/if}
					</small>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card" id="loading_del">
			<div class="card-header">
				<header class="card-title">
					备份列表
				</header>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<form action="" method="post">
						<table class="table">
							<thead>
								<tr>
									<th>文件名称</th>
									<th>文件大小</th>
									<th>备份时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								{volist name="WebBackupList.data" id="web"}
								<tr>
									<td>{$web.name}</td>
									<td>{$web.size}</td>
									<td>{$web.addtime}</td>
									<td>
										<a href="{:url('index/vhost/Siteback')}?down_back_file={$web.name}"
											target="_blank" class="btn btn-label btn-info btn-xs"><label><i class="mdi mdi-arrow-down-bold-hexagon-outline"></i></label> 下载</a>
											<a class="btn btn-label btn-danger btn-xs" onclick="webBackDel('{$web.id}')"><label><i class="mdi mdi-close"></i></label> 删除</a>
									</td>
								</tr>
								{/volist}
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
	function webBackInc() {
		$.confirm({
			title: '温馨提醒',
			content: '备份时间依照网站大小而定',
			icon: 'mdi mdi-alert',
			animation: 'scale',
			closeAnimation: 'zoom',
			buttons: {
				confirm: {
					text: '备份',
					btnClass: 'btn-orange',
					action: function () {
						var l = $('#loading_box').lyearloading({
							opacity: 0.125,
							spinnerSize: 'lg'
						});
						$.post('{:url("index/vhost/webBackInc")}', {
							to: 'back'
						}, function (res) {
							EchoMsg(res.msg, 1);
						})
						.fail(function () {
							EchoMsg('请求错误，请稍候重试');
						})
						.always(function () {
							l.destroy();
						})
					}
				},
				'取消': function () {

				}
			}
		});
	}

	function webBackDel(id) {
		$.confirm({
			title: '温馨提醒',
			content: '确定删除？',
			icon: 'mdi mdi-alert',
			animation: 'scale',
			closeAnimation: 'zoom',
			buttons: {
				confirm: {
					text: '确定',
					btnClass: 'btn-orange',
					action: function () {
						var l = $('#loading_del').lyearloading({
							opacity: 0.125,
							spinnerSize: 'lg'
						});
						$.post('{:url("index/vhost/webBackDel")}', {
							del: id
						}, function (res) {
							EchoMsg(res.msg, 1);
						})
						.fail(function () {
							EchoMsg('请求错误，请稍候重试');
						})
						.always(function () {
							l.destroy();
						})
					}
				},
				'取消': function () {

				}
			}
		});
	}

	function webBackDown(id) {
		$.post('{:url("index/vhost/webBackDown")}', {
			down: id
		}, function (res) {
			EchoMsg(res.msg, 1);
		})
		.fail(function () {
			EchoMsg('请求错误，请稍候重试');
		})
	}
</script>
{/block}