
<link href="__CDN____STATIC__/Light-Year/css/animate.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__CDN__/assets/libs/codemirror/lib/codemirror.css">
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/scroll/annotatescrollbar.js"></script>


<!-- <script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/edit/editAll.js"></script> -->
<!-- <script type="text/javascript" src="__CDN__/assets/libs/codemirror/mode/modeAll.js"></script> -->
<!-- 引入javascript编辑器格式 -->
<script src="__CDN__/assets/libs/codemirror/mode/clike/clike.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/javascript/javascript.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/php/php.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/css/css.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/sql/sql.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/xml/xml.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/shell/shell.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/python/python.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/nginx/nginx.js"></script>
<script src="__CDN__/assets/libs/codemirror/mode/markdown/markdown.js"></script>

<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/dialog/dialog.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/search/search.js"></script>

<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/show-hint.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/sql-hint.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/html-hint.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/xml-hint.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/javascript-hint.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/css-hint.js"></script>
<script type="text/javascript" src="__CDN__/assets/libs/codemirror/addon/hint/anyword-hint.js"></script>
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/addon/hint/show-hint.css">
<!-- <link rel="stylesheet" href="__CDN__/assets/libs/codemirror/addon/lint/lint.css"> -->
<!-- 各种主题配色 -->
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/monokai.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/3024-day.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/3024-night.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/abcdef.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/ambiance.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/base16-dark.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/bespin.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/base16-light.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/blackboard.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/cobalt.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/colorforth.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/dracula.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/duotone-dark.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/duotone-light.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/eclipse.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/elegant.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/erlang-dark.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/hopscotch.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/icecoder.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/isotope.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/lesser-dark.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/liquibyte.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/material.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/mbo.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/mdn-like.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/midnight.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/monokai.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/neat.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/neo.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/night.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/panda-syntax.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/paraiso-dark.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/paraiso-light.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/pastel-on-dark.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/railscasts.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/rubyblue.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/seti.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/solarized.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/the-matrix.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/tomorrow-night-bright.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/tomorrow-night-eighties.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/ttcn.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/twilight.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/vibrant-ink.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/xq-dark.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/xq-light.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/yeti.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/zenburn.css">
<link rel="stylesheet" href="__CDN__/assets/libs/codemirror/theme/darcula.css">