<!-- <script src="__CDN__/assets/js/require{$Think.config.app_debug?'':'.min'}.js" data-main="__CDN__/assets/js/require-frontend{$Think.config.app_debug?'':'.min'}.js?v={$site.version|htmlentities}"></script> -->

<script type="text/javascript" src="__STATIC__/Light-Year/js/jquery.min.js?v={$site.version|htmlentities}"></script>
<script type="text/javascript" src="__STATIC__/Light-Year/js/popper.min.js?v={$site.version|htmlentities}"></script>
<script type="text/javascript" src="__STATIC__/Light-Year/js/bootstrap.min.js?v={$site.version|htmlentities}"></script>
<script type="text/javascript" src="__STATIC__/Light-Year/js/perfect-scrollbar.min.js?v={$site.version|htmlentities}"></script>
<script type="text/javascript" src="__STATIC__/Light-Year/js/bootstrap-multitabs/multitabs.min.js?v={$site.version|htmlentities}"></script>
<script type="text/javascript" src="__STATIC__/Light-Year/js/jquery.cookie.min.js?v={$site.version|htmlentities}"></script>
<script type="text/javascript" src="__STATIC__/Light-Year/js/index.min.js?v={$site.version|htmlentities}"></script>
<script type="text/javascript" src="__STATIC__/Light-Year/js/jquery-confirm/jquery-confirm.min.js?v={$site.version|htmlentities}"></script>
<script type="text/javascript">;</script>