<nav class="sidebar-main">
    <ul class="nav-drawer">
        <li class="nav-item active"> <a class="multitabs" href="main""><i class="mdi mdi-home"></i> <span>{:__('Console center')}</span></a> </li>
        <li class="nav-item nav-item-has-subnav">
        <a href="javascript:void(0)"><i class="mdi mdi-hexagon-multiple"></i> <span>{:__('basic')}</span></a>
        <ul class="nav nav-subnav">
            <li> <a class="multitabs {:$auth->check('vhost/domain')?'':'d-none'}" href="{:url('index/vhost/domain')}">{:__('domain')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/pass')?'':'d-none'}" href="{:url('index/vhost/pass')}">{:__('pass')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/speed')?'':'d-none'}" href="{:url('index/vhost/speed')}">{:__('speed')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/Rewrite301')?'':'d-none'}" href="{:url('index/vhost/Rewrite301')}">{:__('rewrite301')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/redir')?'':'d-none'}" href="{:url('index/vhost/redir')}">{:__('redir')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/defaultfile')?'':'d-none'}" href="{:url('index/vhost/defaultfile')}">{:__('defaultfile')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/rewrite')?'':'d-none'}" href="{:url('index/vhost/rewrite')}">{:__('rewrite')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/ssl')?'':'d-none'}" href="{:url('index/vhost/ssl')}">{:__('ssl')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/runPath')?'':'d-none'}" href="{:url('index/vhost/runPath')}">{:__('runPath')}</a> </li>
            <li> <a target="_blank" class="{$phpmyadmin|default=''?'':'d-none'}" href="{if isset($phpmyadmin)&&$phpmyadmin}{$phpmyadmin}{else/}{:__('Not sql')}{/if}">{:__('sql_console')}</a> </li>
        </ul>
        </li>
        <li class="nav-item nav-item-has-subnav">
        <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> <span>{:__('file_back')}</span></a>
        <ul class="nav nav-subnav">
            <li> <a class="multitabs {:$auth->check('vhost/file')?'':'d-none'}" href="{:url('index/vhost/file')}">{:__('file')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/file_ftp')?'':'d-none'}" href="{:url('index/vhost/file_ftp')}">{:__('file_ftp')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/back')?'':'d-none'}" href="{:url('index/vhost/back')}">{:__('back')}</a> </li>
        </ul>
        </li>
        <li class="nav-item nav-item-has-subnav">
        <a href="javascript:void(0)"><i class="mdi mdi-sort-variant-lock"></i> <span>{:__('security_settings')}</span></a>
        <ul class="nav nav-subnav">
            <li> <a class="multitabs {:$auth->check('vhost/protection')?'':'d-none'}" href="{:url('index/vhost/protection')}">{:__('protection')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/waf')?'':'d-none'}" href="{:url('index/vhost/waf')}">{:__('waf')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/dirauth')?'':'d-none'}" href="{:url('index/vhost/dirauth')}">{:__('dirauth')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/proof')?'':'d-none'}" href="{:url('index/vhost/proof')}">{:__('proof')}</a> </li>
        </ul>
        </li>
        <li class="nav-item nav-item-has-subnav">
        <a href="javascript:void(0)"><i class="mdi mdi-webpack"></i> <span>{:__('advanced_features')}</span></a>
        <ul class="nav nav-subnav">
            <li> <a class="multitabs {:$auth->check('vhost/sitelog')?'':'d-none'}" href="{:url('index/vhost/sitelog')}">{:__('sitelog')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/sqltools')?'':'d-none'}" href="{:url('index/vhost/sqltools')}">{:__('sqltools')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/httpauth')?'':'d-none'}" href="{:url('index/vhost/httpauth')}">{:__('httpauth')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/deployment')?'':'d-none'}" href="{:url('index/vhost/deployment')}">{:__('deployment')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/deployment_new')?'':'d-none'}" href="{:url('index/vhost/deployment_new')}">{:__('deployment_new')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/total')?'':'d-none'}" href="{:url('index/vhost/total')}">{:__('total')}</a> </li>
            <li> <a class="multitabs {:$auth->check('vhost/proxy')?'':'d-none'}" href="{:url('index/vhost/proxy')}">{:__('proxy')}</a> </li>
        </ul>
        </li>
    </ul>
    </nav>
