{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="zh">
<head>
    {include file="common/meta" /}
<link href="__CDN____STATIC__/Light-Year/css/bootstrap.min.css" rel="stylesheet">
<link href="__CDN____STATIC__/Light-Year/css/materialdesignicons.min.css" rel="stylesheet">
<link href="__CDN____STATIC__/Light-Year/css/style.min.css" rel="stylesheet">
<link href="__CDN____STATIC__/css/style.css" rel="stylesheet">
</head>
  
<body>
<div class="row no-gutters bg-white vh-100">
    <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block"
        style="background-image: url({$Think.config.site.login_bg}); background-size: cover;">

    <div class="d-flex vh-100">
        <div class="p-5 align-self-end">
        <img src="{$Think.config.site.logo}" alt="...">
        <br><br><br>
        <p class="text-white">{$site.description}</p>
        </div>
    </div>

    </div>

    <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
    <div class="p-5">
        <div class="text-center">
        <a href="{:url('/')}">
            <h3 class="login-logo2">控制台登录</h3> <img alt="{$site.name}" src="{$Think.config.site.logo}" class="login-logo">
        </a>
        </div>
        <p class="text-center text-muted"><small>{:__('Login Tips')}</small></p>

        <form name="form" id="login-form" class="form-vertical" method="POST" action="">
            {:token()}
            <div class="form-group">
                <label for="username">{:__('Account')}</label>
                <input type="text" class="form-control" id="account" name="account" placeholder="请输入您的{:__('Account')}">
            </div>

            <div class="form-group">
                <label for="password">{:__('Password')}</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入您的{:__('Password')}">
            </div>

            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">立即登录</button>
            </div>
        </form>
        <p class="text-center text-muted mt-3">Copyright © 2020 <a href="{:url('/')}">{$site.name}</a>.
            All right reserved {notempty name="site.beian"}<a href="https://beian.miit.gov.cn/" target="_blank">{$site.beian}</a>{/notempty}</p>
    </div>
    </div>
</div>

<script type="text/javascript" src="__CDN____STATIC__/Light-Year/js/jquery.min.js"></script>
<script type="text/javascript">;</script>
</body>
</html>
